<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Get ya Sweat on! 💪 </title>
    <link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Audiowide|Bangers|Orbitron|Russo+One" rel="stylesheet"></head>
<body>
    <header class="site-header">
        <h1>  Functional Fitness Generator   </h1>
        </header> 
       
        {{{body}}}

    <footer>Site by Josh Pearson. Find me on   <a href="https://www.linkedin.com/in/joshuanicholaspearson/"> LinkedIn! </a></footer>
</body>
</html>