body {
    background: -webkit-linear-gradient(left, #2c2c2c 0%,#050505 0%,#050505 18%,#595959 41%,#666666 53%,#474747 62%,#000000 79%,#111111 87%,#131313 92%,#2b2b2b 99%,#1c1c1c 100%);}
.site-header {
    display: flex;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    color: whitesmoke;
    text-shadow:
    -1px -1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0),
    1px 1px 0 rgb(0, 0, 0); 
    width: 100%;
    border-width: 10px;
}
a {
    color: rgb(82, 170, 218);
}
.topnav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    font-family: 'Orbitron', sans-serif;

}
.new{
    color: #f2f2f2;
    border: 3px solid white;
    text-align: center;
    margin: auto 5px;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;

}
.return-user {
    color: #f2f2f2;
    border: 3px solid white;
    text-align: center;
    margin: auto 5px;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;

}

.welcome-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}
.picture {
    border-radius: 250px;
    align-content: space-between;
    width: 410px;
    height: 390px;
    border: white 3px solid;
    margin: 5px;
}
.picture1 {
    border-radius: 250px;
    align-content: space-between;
    width: 410px;
    height: 390px;
    border: white 3px solid;
    margin: 5px;

}
.picture2 {
    border-radius: 250px;
    align-content: space-between;
    width: 410px;
    height: 390px;
    border: white 3px solid;
    margin: 5px;

}
footer {
    display: flex;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    color: whitesmoke;
    text-shadow:
    -1px -1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0),
    1px 1px 0 rgb(0, 0, 0); 
    position:absolute;
     bottom:25px;
    width:100%;
}
.sign-up{
    display: flex;
    justify-content: center;
    border-radius: 50px;
    width: 410px;
    height: 250px;
    border: white 3px solid;
    margin: auto;
    box-shadow: 10px 10px 52px 0px rgba(255,255,255,1);
}

p {
    display: flex;
    color:   white;
    text-shadow:
    -1px -1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0),
    1px 1px 0 rgb(0, 0, 0); 
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    padding: 30px auto;
    margin: 40px 0;
}

/* .button {
    position: relative;
    background-color: rgb(87, 121, 166);
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    /* transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: rgb(70, 80, 86);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
} */ 