body {
    border: 10px solid red;
    background: rgba(76,76,76,1);
}
.site-header {
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    color: whitesmoke;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
a {
    color: whitesmoke;
}
footer {
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    color: whitesmoke;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
.button {
    position: relative;
    background-color: rgb(87, 121, 166);
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: rgb(70, 80, 86);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}