{{!-- {{#if comments}}
<ul class="comments">
    {{#each comments}}
    <div class="card">
        <div class="card-content">
            <a class="card-title" href="/comment/{{id}}">
            {{ content}}
            </a>
            </div>
            <div class="card-action">
                <a href="/user/{{author.id }}" class=""> {{ author.local.email}}</a>
            </div>
        </div>
        {{/each}}
</ul>
{{/if}} --}}
<div class="topnav">
    <a href="/new" class="new">New User</a>
    <a href="/new"class="return-user">Sign-In</a>
</div>
<div class="welcome-box">
<img class="picture"src="https://i.pinimg.com/736x/97/6d/b5/976db5918f38225784704137944fa25c--crossfit-men-crossfit-athletes.jpg"> 
<img class="picture1"src="https://i.pinimg.com/736x/70/e8/e0/70e8e04d66de7776ca5e973b90772496--crossfit-athletes-crossfit-women.jpg"> 
<img class="picture2"src="https://pbs.twimg.com/media/CWRf6AMUkAAZyWU.jpg">
</div>
