{{!-- {{#if comments}}
<ul class="comments">
    {{#each comments}}
    <div class="card">
        <div class="card-content">
            <a class="card-title" href="/comment/{{id}}">
            {{ content}}
            </a>
            </div>
            <div class="card-action">
                <a href="/user/{{author.id }}" class=""> {{ author.local.email}}</a>
            </div>
        </div>
        {{/each}}
</ul>
{{/if}} --}}
<div class="topnav">
    <a href="/new" class="new">New User</a>
    <a class="return-user">Sign-In</a>
</div>
<div class="welcome-box">
 <img class="picture"src="https://media.istockphoto.com/photos/female-athlete-running-outdoors-on-highway-picture-id586069446?k=6&m=586069446&s=612x612&w=0&h=lGP8IRPes5FdEtTIvC3lDIrwN1kC64ubWCRWUm-Z0qc="> 
<img class="picture1"src="https://affiliatedhealthcare.com/wp-content/uploads/2017/03/Course3.jpg"> 
<img class="picture2"src="https://static1.squarespace.com/static/56953d55a12f4462231c807a/t/56c795a4356fb0ec8c2067ff/1455920553711/">
</div>
